{% extends 'core/base.html' %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="col-md-7 mb-1 mt-1 text-white text-center ">
        <div class="container">
            <h1 class="jumbotron-heading">Directory</h1>
            <p class="lead">On this page, you can work with data: diagnoses, symptoms, syndromes.</p>
        </div>
    </div>
</div>


<div class="container mt-3">
    
    <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link text-dark active" href="#syn">Syndromes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark " href="#dia">Diagnoses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark " href="#sym">Symptoms</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <!-- Синдромы -->
            <div id="syn" class="tab-pane fade show active" role="tabpanel">
                <table id="syndrom_table" class="table table-striped table-bordered " cellspacing="0" style="width:100%">
                    <thead>
                        <a id="syndrom_btn" href="" data-toggle="modal" data-target="#add_syndrom" class="btn btn-primary btn-xs pull-left">Add new syndrom</a>
                        <tr>
                            <th>Diagnos</th>
                            <th>Conviction</th>
                            <th>Count of symptoms</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rule in ruleAll %}
                        <tr>
                            <td>{{ rule.diagnos }}</td>
                            <td>{{ rule.frequency }}</td>
                            <td>{{ rule.num }}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" data-id="{{ diagnos.id }}" data-db="diagnos" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" data-id="{{ diagnos.id }}" data-db="diagnos" class="btn btn-danger btn-just-icon btn-sm delete mr-3" data-original-title="" title="">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--Диагнозы-->
            <div id="dia" class="tab-pane fade" role="tabpanel">
                <table id="diagnos_table" class="table table-striped table-bordered " cellspacing="0" style="width:100%">
                    <thead>
                        <a id="diagnos_btn" href="" data-toggle="modal" data-target="#add_diagnos" class="btn btn-primary btn-xs pull-left add-elem">Add new diagnos</a>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for diagnos in diagnoses %}
                        <tr>
                            <td>{{ diagnos.Name }}</td>
                            <td>{{ diagnos.Description }}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" data-id="{{ diagnos.id }}" data-db="diagnos" class="btn btn-success btn-just-icon btn-sm update" data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" data-id="{{ diagnos.id }}" data-db="diagnos" class="btn btn-danger btn-just-icon btn-sm delete mr-3" data-original-title="" title="">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Симптомы -->
            <div id="sym" class="tab-pane fade" role="tabpanel">
                <table id="symptom_table" class="table table-striped table-bordered " cellspacing="0" style="width:100%">
                    <thead>
                        <a id="symptom_btn" href="" data-toggle="modal" data-target="#add_symptom" class="btn btn-primary btn-xs pull-left add-elem">Add new symptom</a>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for symptom in symptomes %}
                        <tr>
                            <td>{{ symptom.Name }}</td>
                            <td>{{ symptom.Description }}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" data-id="{{ symptom.id }}" data-db="symptom" class="btn btn-success btn-just-icon btn-sm update" data-original-title="" title="">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" data-id="{{ symptom.id }}" data-db="symptom" class="btn btn-danger btn-just-icon btn-sm delete mr-3" data-original-title="" title="">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- Формы модули -->
<form id="form_diag" class="add-form" data-db="diagnos" method="POST">
<div id="add_diagnos" class="modal" tabindex="0" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create diagnos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          {{ formDiagnos }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
         </div>
      </div>
    </div>
</div>
</form>

<form id="form_sym" class="add-form" data-db="symptom" method="POST">
    <div id="add_symptom" class="modal" tabindex="0" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create symptom</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              {{ formSymptom }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
             </div>
          </div>
        </div>
    </div>
</form>

<form id="form_sym" class="add-form" data-db="symptom" method="POST">
    <div id="add_syndrom" class="modal" tabindex="0" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create symptom</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              {{ formSymptom }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
             </div>
          </div>
        </div>
    </div>
</form>






<script>
    $(document).ready(function(){
        // Скрываем необходимые поля
        $('#id_idRowDiag').hide();
        $('#id_idRowSym').hide();
        $('#id_idDiag').hide();
        $('#id_idSym').hide();

        // Настройки списка
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });

        // Настройки таблиц
        $('#syndrom_table').DataTable({     
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
        });
        $('#diagnos_table').DataTable({     
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
        });
        $('#symptom_table').DataTable({     
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
        });
        $("[data-toggle=tooltip]").tooltip();
        

        //Очистка формы при вызове
        $(document).delegate('.add-elem', 'click', function() { 
            var modal_id = $(this).data('target');
            if(modal_id == "#add_symptom"){
                form_id="#form_sym";
            } else if(modal_id == "#add_diagnos"){
                form_id="#form_diag";
            } else{
                form_id="";
            }
            if(form_id!=""){
                $(form_id)[0][2]["value"] = "";
                $(form_id)[0][3]["value"] = "";
                $(form_id)[0][4]["value"] = "";
                $(form_id)[0][5]["value"] = "";
                $(form_id)[0][7].textContent = "Create";
            }
        });

        // Удаление элемента из таблицы
        $(document).delegate('.delete', 'click', function() { 
            var id = $(this).data('id');
            var db = $(this).data('db');
            var row = $(this).closest("tr").get(0);
            
            if(db == "diagnos"){
                url = "{% url 'delete_diagnos' %}";
                table_name= "#diagnos_table";
            } else if(db == "symptom"){
                url = "{% url 'delete_symptom' %}";
                table_name= "#symptom_table";
            } else{
                url = "";
                table_name="";
            }
            if(url !=""){
                $.post(url, {id:id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
                    if(data == "0"){
                        var oTable = $(table_name).dataTable();
                        oTable.fnDeleteRow(oTable.fnGetPosition(row));
                        
                    }
                    else {
                        alert("Строка не удалена");
                    }
                }); 
            } else{
                alert("Error: url");
            }
        });

        //Тут мы только получаем данные для записи (изменение и открытие формы)
        $(document).delegate('.update', 'click', function() { 
            var idelem = $(this).data('id');
            var db = $(this).data('db');
            var row = $(this).closest("tr").get(0);
            
            
            if(db == "diagnos"){
                url_get = "{% url 'get_diagnos' %}";
                form_name= "#form_diag";
                modal_name= "#add_diagnos";
                table_name= "#diagnos_table";
            } else if(db == "symptom"){
                url_get = "{% url 'get_symptom' %}";
                form_name= "#form_sym";
                modal_name= "#add_symptom";
                table_name= "#symptom_table";
            } else{
                url_get = "";
                form_name= "";
                modal_name= "";
            }

            var oTable = $(table_name).dataTable();
            rowid = oTable.fnGetPosition(row);

            if(url_get !=""){
                $.post(url_get, {id:idelem, dataType: "json", 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
                    if(data.id != -1){
                        $(form_name)[0][2]["value"] = parseInt(rowid);
                        $(form_name)[0][3]["value"] = parseInt(data.id);
                        $(form_name)[0][4]["value"] = data.name;
                        $(form_name)[0][5]["value"] = data.description;
                        $(form_name)[0][7].textContent = "Update";
                        $(modal_name).modal('show');
                    }
                    else {
                        alert("Строка не распознана");
                    }
                });
            } else{
                alert("Error: url");
            }
        });

        // Добавление или изменние данных (обработка формы)
        $('.add-form').submit(function(e) {
            e.preventDefault();
            var db = $(this).data('db');
            if(db == "diagnos"){
                url_add = "{% url 'add_diagnos' %}";
                url_update = "{% url 'update_diagnos' %}";
                table_name= "#diagnos_table";
            } else if(db == "symptom"){
                url_add = "{% url 'add_symptom' %}";
                url_update = "{% url 'update_symptom' %}";
                table_name= "#symptom_table";
            } else{
                url_add = "";
                url_update = "";
                table_name="";
            }
            rowid = $(this)[0][2]["value"];
            iddb = $(this)[0][3]["value"];
            name = $(this)[0][4]["value"];
            description = $(this)[0][5]["value"];
            datain = $(this).serialize();
            if(url_add !=""){
                if(iddb==""){//Добавление
                    $.post(url_add, datain, function(data) {
                    if(data == "-1"){
                        alert("Строка не добавлена");
                    }else if(data=="-2"){
                        alert("Строка уже существует или пуста");
                    }else {
                        var rData = [
                            name,
                            description,
                            '<div class="container text-right">'+
                            '<button type="button" rel="tooltip" data-id="'+data+'" data-db="'+db+'" class="btn btn-success btn-just-icon btn-sm pr-2 update" data-original-title="" title=""> '+
                               '<i class="material-icons">edit</i>'+
                            '</button> '+
                            '<button type="button" rel="tooltip" data-id="'+data+'" data-db="'+db+'" class="btn btn-danger btn-just-icon btn-sm delete " data-original-title="" title="">'+
                                '<i class="material-icons">close</i>'+
                            '</button>'+
                            '</div>'
                        ];
                        $(table_name).DataTable().row.add(rData).draw(false);

                        $('#add_symptom').modal('hide');
                        $('#add_diagnos').modal('hide');
                        $('.add-form').trigger('reset');
                    }
                    });
                } else{//Изменение
                    $.post(url_update, datain, function(data) {
                    if(data == "-1"){
                        alert("Строка не изменена");
                    } else if(data=="-2"){
                        alert("Строка пуста");
                    } else if(data=="0"){
                        var rData = [
                            name,
                            description,
                            '<div class="container text-right">'+
                            '<button type="button" rel="tooltip" data-id="'+iddb+'" data-db="'+db+'" class="btn btn-success btn-just-icon btn-sm pr-2 update" data-original-title="" title=""> '+
                               '<i class="material-icons">edit</i>'+
                            '</button> '+
                            '<button type="button" rel="tooltip" data-id="'+iddb+'" data-db="'+db+'" class="btn btn-danger btn-just-icon btn-sm delete " data-original-title="" title="">'+
                                '<i class="material-icons">close</i>'+
                            '</button>'+
                            '</div>'
                        ];
                        $(table_name).DataTable().row(rowid).data(rData).draw();

                        $('#add_symptom').modal('hide');
                        $('#add_diagnos').modal('hide');
                        $('.add-form').trigger('reset');
                    } else{
                        alert("Ошибка адресации");
                    }
                    });
                }
                 
            } else{
                alert("Error: url");
            }
        });

    });
    
</script>

<style>
body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

table{
    width:100%;
}
#diagnos_table_filter, #symptom_table_filter, #syndrom_table_filter{
    float: right;
}
#diagnos_table_paginate, #symptom_table_paginate, #syndrom_table_paginate{
    float: right;
}
#diagnos_table_length, #symptom_table_length, #syndrom_table_length{
    float: left;
}
#diagnos_table_length label, #symptom_table_length label, #syndrom_table_length label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

#diagnos_table_length select, #symptom_table_length select, #syndrom_table_length select{
   margin-left: 5px;
   margin-right: 5px;
}

#diagnos_table_filter label, #symptom_table_filter label, #syndrom_table_filter label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

#diagnos_table_filter input, #symptom_table_filter input, #syndrom_table_filter input{
    margin-left: 10px;
}

.add-elem{
    margin-top: 10px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

</style>


{% endblock %}